.flex {
  display: flex;
}
.pet-photo-main {
  width: 100%;
  height: auto;
}
.pet-images {
  width: 60%;
  position: relative;
  margin-bottom: 20px;
}
.pet-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .pet-details {
    display: block;
  }
}
.pet-info {
  width: 39%;
}
.main-info-container {
  background-color: #ffe1f2;
  border-radius: 16px;
  padding: 4px 16px;
}
.font-bold {
  font-weight: bold;
}
@media (max-width: 767px) {
  .pet-images,
  .pet-info {
    width: 100%;
  }
}
.pet-thumbnail {
  width: 10%;
  height: 10%;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.pet-thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  max-width: 100%;
  overflow-x: hidden;
}
.pet-thumbnail.active,
.pet-thumbnail:hover {
  opacity: 1;
}
.btn-slider {
  background: none;
  border: none;
  font-size: 3em;
  cursor: pointer;
  color: white;
}
.left-btn {
  position: absolute;
  left: 10px;
  top: 30%;
}
.left-btn:hover,
.right-btn:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.left-btn:active,
.right-btn:active {
  transform: scale(0.95);
}
.right-btn {
  position: absolute;
  right: 3%;
  top: 30%;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.take-home-btn {
  width: 100%;
  height: 35px;
}
