# github
# .github/

# safety
.env

# virtual environment
.venv
pyvenv.cfg
venv

node_modules/


# cache
__pycache__/
*.lock
.pytest_cache/

package-lock.json
dist/
*_.py


# storage
*.db
storage/*
*.sql
*.zip

# trash of development
db.yaml
*.log