.notFound-container {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.notFound-img {
  width: 100%;
  height: auto;
}
.notFound-text {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .notFound-text {
    font-size: 20px;
  }
}
