* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
main {
  width: 97%;
  margin: auto;
  max-width: 1440px;
}
h1 {
  font-size: 40px;
  line-height: 47px;
  margin-top: 15px;
  margin-bottom: 15px;
}
p,
h1 {
  color: #580031;
}
.events-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event-blocks-container {
  display: flex;
  justify-content: space-between;
}
.event-title,
.event-date {
  margin-top: 15px;
}
.event-title {
  font-size: 18px;
}
.blocks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.self-description {
  display: grid;
  max-width: 25vw;
}

.back_button {
  /* background-color: #f1309a; */
  max-width: 10vw;
}

.block-for-animalHelp {
  width: 30%;
  min-width: 350px;
  background-color: #ffe1f2;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin: 40px;
}

.block-for-animalGreet {
  width: 40%;
  min-width: 20vw;
  max-height: auto;
  background-color: #ffe1f2;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
}
.photozone {
  /* background-color: #580031; */
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  width: 45vw;
  max-width: 100%;
  /* min-height: 20vh; */
}



.want-help-btn {
  width: 90%;
  min-width: 350px;
  height: 35px;
  margin-top: 20px;
}
.btn {
  background-color: #e5007e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 16px;
}

#main {
  display: flex;
  flex-wrap: wrap;
}


.img_card {
  max-width: 100%;
  height: auto;
}

.img_photozone {
  max-width: 100%;
  height: auto;
}