* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  width: 95%;
  margin: auto;
  max-width: 1440px;
}
h1 {
  font-size: 40px;
  line-height: 47px;
  margin-top: 15px;
  margin-bottom: 15px;
}
p,
h1 {
  color: #580031;
}
.header {
  height: 110px;
  display: flex;
  align-items: center;
  color: #e5007e;
}
.header-container {
  display: flex;
}
.navbar {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 100px;
}
.nav-item {
  cursor: pointer;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: none;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
@media (max-width: 768px) {
  .burger {
    display: block;
  }
}
.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}
.menu-list {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  list-style-type: none;
  transform: translateX(-100%);
  transition: 0.3s;
  width: 200px;
}
.menu-item {
  display: block;
  padding: 8px;
  color: #e5007e;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.menu-item:hover {
  background: rgba(255, 255, 255, 0.2);
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}

.marginSection {
  margin-top: 30px;
}
.start {
  display: inline-flex;
}
.paw-container {
  position: relative;
  height: 700px;
  width: 100%;
}
.paw-container img {
  position: absolute;
}
.paw1 {
  top: 262px;
  left: 9px;
}

.paw2 {
  top: 77px;
  left: 76px;
}

.paw3 {
  top: 3px;
  left: 253px;
}

.paw4 {
  top: 50px;
  left: 422px;
}

.pic1 {
  top: 236px;
  left: 158px;
}
@font-face {
  font-family: "Angst";
  src: url("/assets/fonts/AngstVF.woff2") format("woff2"),
    url("/assetsfonts/AngstVF.woff") format("woff"),
    url("/assetsfonts/AngstVF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.textAngst {
  font-family: "Angst", sans-serif;
  font-size: 64px;
  line-height: 89px;
  color: #580031;
  position: absolute;
}
.animal {
  top: 200px;
  left: 650px;
}
.need-home {
  top: 300px;
  left: 900px;
  width: max-content;
}
.btn {
  background-color: #e5007e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 16px;
}
.want-help {
  width: 343px;
  position: absolute;
  padding: 18px 24px;
  left: 500px;
  top: 700px;
  font-size: 18px;
}
.aboutUs {
  margin-top: 80px;
}
.aboutUs-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.text-start {
  font-weight: 300;
  font-size: 24px;
}
.text-bold {
  font-weight: 600;
  font-size: 24px;
}
.helpUs {
  height: fit-content;
  background-color: #ffe1f2;
}
.blocks-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.block {
  height: 345px;
  width: 275px;
  border-radius: 24px;
  background-color: white;
}
.events-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event-blocks-container {
  display: flex;
  justify-content: space-between;
}
.event-title,
.event-date {
  margin-top: 15px;
}
.event-title {
  font-size: 18px;
}
.event-date {
  font-size: 13px;
  font-weight: 600;
}
.ourFreinds {
  display: flex;
  justify-content: space-between;
  background-color: #ffe1f2;
  border-radius: 24px;
  padding: 20px;
}
.font-size-64 {
  font-size: 64px;
  line-height: 75px;
}
.left-side-section {
  width: 49%;
}
.twoButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.transparent {
  border: 1px solid #e5007e;
  color: #e5007e;
  background-color: transparent;
  width: 48%;
  height: 35px;
  font-size: 16px;
}
.ourPets {
  width: 48%;
  height: 35px;
  font-size: 16px;
}
.light-color {
  color: #58003180;
}
.blocks-container {
  display: flex;
  gap: 5%;
}
.block-for-animalHelp {
  width: 35%;
  min-width: 350px;
  background-color: #ffe1f2;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.want-help-btn {
  width: 90%;
  min-width: 350px;
  height: 35px;
  margin-top: 20px;
}
.rules-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.numbered-paragraph {
  display: flex;
}
.numbered-paragraph .number {
  flex-shrink: 0;
}
.numbered-paragraph .text {
  padding-left: 15px;
}
.footer {
  background-color: #ffe1f2;
  padding-top: 50px;
  padding-bottom: 60px;
  width: 100%;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
