.marginSection {
  margin-top: 30px;
  margin-bottom: 30px;
}
.start {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .start {
    height: 80vh;
  }
}
.paw-and-dog {
  width: 95vw;
  height: auto;
}
.paw-container {
  position: relative;
  width: 100%;
  max-width: 1440px;
}
.paw1-container,
.paw2-container,
.paw3-container,
.paw4-container,
.pic1-container {
  position: absolute;
}
.paw-container img {
  width: 100%;
  height: auto;
}
@media (max-width: 767px) {
  .paw-container {
    position: relative;
    width: 100%;
    display: block;
  }
  .paw-and-dog {
    position: absolute;
    top: 135px;
    width: 95vw;
    height: auto;
  }
  .text-animal-need-home {
    position: absolute;
    top: -31%;
    left: 5%;
  }
}
.paw1-container {
  top: 262px;
  left: 9px;
  width: 10%;
  height: auto;
}

.paw2-container {
  top: 77px;
  left: 76px;
  width: 10%;
  height: auto;
}

.paw3-container {
  top: 3px;
  left: 253px;
  width: 10%;
  height: auto;
}

.paw4-container {
  top: 50px;
  left: 422px;
  width: 10%;
  height: auto;
}

.pic1-container {
  top: 236px;
  left: 158px;
  width: 30%;
  height: auto;
}
@media (max-width: 767px) {
  .pic1-container {
    width: 50%;
    top: 23vh;
    left: 27vw;
  }
  .paw1-container {
    top: 50vh;
    left: 1vw;
    width: 20%;
    height: auto;
  }

  .paw2-container {
    top: 30vh;
    left: 15vw;
    width: 20%;
    height: auto;
  }

  .paw3-container {
    top: 2vh;
    left: 40vw;
    width: 20%;
    height: auto;
  }

  .paw4-container {
    top: 15vh;
    left: 50vw;
    width: 20%;
    height: auto;
  }
}
@font-face {
  font-family: "Angst";
  src: url("../fonts/AngstVF.woff2") format("woff2"),
    url("../fonts/AngstVF.woff") format("woff"),
    url("../fonts/AngstVF.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.textAngst {
  font-family: "Angst", sans-serif;
  font-size: 64px;
  line-height: 89px;
  color: #580031;
  position: absolute;
}
@media (max-width: 767px) {
  .textAngst {
    font-size: 32px;
    line-height: 44px;
    margin: 0;
  }
}
.animal {
  top: 200px;
  left: 650px;
}
.need-home {
  top: 300px;
  left: 900px;
  width: max-content;
}
@media (max-width: 767px) {
  .animal {
    top: 0;
    left: 0;
  }
  .need-home {
    left: 30vw;
    top: 35px;
  }
}
.btn {
  background-color: #e5007e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 16px;
}
.btn:hover {
  background-color: #bb0368;
}

.btn:active {
  background-color: #930453;
  transform: scale(0.95);
}
.want-help {
  width: 343px;
  position: absolute;
  padding: 18px 24px;
  left: 500px;
  top: 700px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .want-help {
    position: absolute;
    top: 110%;
    left: 5vw;
    width: 85vw;
  }
}
.title {
  font-size: 40px;
  line-height: 47px;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .title {
    font-size: 20px;
    line-height: 23px;
  }
}
.aboutUs {
  margin-top: 80px;
}
.img-aboutUs {
  width: -webkit-fill-available;
}
.aboutUs-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .aboutUs-container {
    display: block;
  }
}
.text-start {
  font-weight: 300;
  font-size: 24px;
}
@media (max-width: 767px) {
  .text-start {
    font-weight: 300;
    font-size: 16px;
  }
}
.text-bold {
  font-weight: 600;
  font-size: 24px;
}
.helpUs {
  height: fit-content;
  padding: 15px 5%;
  margin: 0;
  background-color: inherit;
  border-radius: 24px;
}
@media (max-width: 767px) {
  .helpUs {
    padding: 0;
  }
}
.section-wrapper {
  background-color: #ffe1f2;
  /* margin: 0 -5%; */
  border-radius: 24px;
}
.blocks-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  gap: 5%;
}
@media (max-width: 767px) {
  .blocks-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    gap: 5%;
    width: 95%;
    margin: auto;
  }
  .helpingAnimals {
    display: none;
  }
}
.block {
  height: 345px;
  width: 275px;
  border-radius: 24px;
  background-color: white;
}
@media (max-width: 767px) {
  .block {
    margin: auto;
    width: 90%;
  }
}
.events-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event-blocks-container {
  display: flex;
  justify-content: space-between;
}
.event-title,
.event-date {
  margin-top: 15px;
}
.event-title {
  font-size: 18px;
}
.event-date {
  font-size: 13px;
  font-weight: 600;
}
.ourFreinds {
  display: flex;
  justify-content: space-between;
  background-color: #ffe1f2;
  border-radius: 24px;
  padding: 20px;
}
.font-size-64 {
  font-size: 64px;
  line-height: 75px;
}
@media (max-width: 767px) {
  .font-size-64 {
    font-size: 32px;
    line-height: 37px;
  }
}
.left-side-section {
  width: 49%;
}
@media (max-width: 767px) {
  .left-side-section {
    width: auto;
  }
}
@media (max-width: 767px) {
  .img-animal-waiting {
    display: none;
  }
}

.twoButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .twoButtons {
    flex-direction: column;
    gap: 10px;
  }
}
.transparent {
  border: 1px solid #e5007e;
  color: #e5007e;
  background-color: transparent;
  width: 48%;
  height: 35px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .transparent {
    width: 100%;
  }
}
.transparent:hover {
  background-color: #e5007e;
  color: white;
}

.transparent:active {
  background-color: #930453;
  transform: scale(0.95);
}
.ourPets {
  width: 48%;
  height: 35px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .ourPets {
    width: 100%;
  }
}
.ourPets:hover {
  background-color: #bb0368;
}

.ourPets:active {
  background-color: #930453;
  transform: scale(0.95);
}
.light-color {
  color: #58003180;
}

.rules-container {
  display: grid;
  grid-template-areas:
    "item1 item4"
    "item2 item5"
    "item3 item5";
  gap: 10px;
}
.grid-item-1 {
  grid-area: item1;
}

.grid-item-2 {
  grid-area: item2;
}

.grid-item-3 {
  grid-area: item3;
}

.grid-item-4 {
  grid-area: item4;
}

.grid-item-5 {
  grid-area: item5;
}
@media (max-width: 767px) {
  .rules-container {
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4"
      "item5";
  }
}
.numbered-paragraph {
  display: flex;
}
.numbered-paragraph .number {
  flex-shrink: 0;
}
.numbered-paragraph .text {
  padding-left: 15px;
}
