.events-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event-blocks-container {
  display: flex;
  justify-content: space-between;
}
.event-title,
.event-date {
  margin-top: 15px;
}
.event-title {
  font-size: 18px;
}
.block-for-animalHelp {
  width: 80%;
  background-color: #ffe1f2;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
@media (max-width: 767px) {
  .block-for-animalHelp {
    padding: 5%;
  }
}
.want-help-btn {
  width: 90%;
  height: 35px;
  margin-top: 20px;
}
