.flex {
  display: flex;
}
.pet-photo-main {
  width: 95%;
  height: auto;
}
.pet-images {
  width: 60%;
  position: relative;
}
.pet-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.pet-info {
  width: 39%;
}
.font-bold {
  font-weight: bold;
}

.pet-thumbnail {
  width: 10%;
  height: 10%;
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
.pet-thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  max-width: 100%;
  overflow-x: hidden;
}
.pet-thumbnail.active,
.pet-thumbnail:hover {
  opacity: 1;
}
.btn-slider {
  background: none;
  border: none;
  font-size: 3em;
  cursor: pointer;
  color: white;
}
.left-btn {
  position: absolute;
  left: 10px;
  top: 200px;
}
.left-btn:hover,
.right-btn:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.left-btn:active,
.right-btn:active {
  transform: scale(0.95);
}
.right-btn {
  position: absolute;
  left: 670px;
  top: 200px;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.want-help-btn {
  width: 100%;
}
