.header {
  width: 95%;
  height: 110px;
  display: flex;
  align-items: center;
  color: #e5007e;
  justify-content: flex-start;
  max-width: 1440px;
  margin: auto;
}
@media (max-width: 767px) {
  .header {
    justify-content: space-between;
  }
}
.header-container {
  display: flex;
  align-items: center;
}
.navbar {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 100px;
}
@media (max-width: 767px) {
  .navbar {
    display: none;
  }
}
.nav-item {
  cursor: pointer;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: none;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}
@media (max-width: 768px) {
  .burger {
    display: block;
  }
}
.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}
.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}
.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}
.menu-list {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 10px;
  padding: 20px 0;
  margin: 0;
  list-style-type: none;
  transform: translateX(-100%);
  transition: 0.3s;
  width: 200px;
  background-color: white;
  z-index: 1;
}
.menu-item {
  display: block;
  padding: 8px;
  color: #e5007e;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
.menu-item:hover {
  background: rgba(255, 255, 255, 0.2);
}
.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}
