.help-main-title {
  width: 65%;
  margin: auto;
}
.light-color {
  color: #58003180;
}
/* .btn {
  background-color: #e5007e;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 24px;
} */
.choose-payment-method-btn {
  width: 90%;
  max-width: 190px;
  height: 45px;
  margin-top: 20px;
}
.form-for-donat {
  width: 60%;
  margin: auto;
}
.three-btns-group {
  display: flex;
  justify-content: space-between;
}
.choise-of-amount {
  background-color: #ffe1f2;
  border-radius: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  margin: auto;
  padding: 20px;
  margin-top: 30px;
}

.amount-button {
  font-size: 32px;
  background-color: white;
  color: #580031;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  height: 55px;
}
.amount-button:hover {
  border: 2px solid #580031;
  width: 100%;
}

.other-amount-btn {
  grid-column: span 2;
}
.amount-input {
  height: 55px;
  color: #580031;
  padding: 0;
  font-size: 32px;
  width: 100%;
  border: none;
  border-radius: 24px;
  grid-column: span 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-appearance: none; /* Safari, Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* Standard */
}
.amount-input:focus-visible {
  border: 2px solid #580031;
  outline: #580031;
}
.amount-input::-webkit-outer-spin-button,
.amount-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount-input[type="number"] {
  -moz-appearance: textfield;
}
.toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggle-switch {
  display: inline-block;
  border-radius: 16px;
  border: 2px solid #580031;
  width: 50px;
  height: 28px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background-color: #580031;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle-checkbox:checked + .toggle-switch {
  background: #e5007e;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 23px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
.form-container {
  padding-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group input[type="checkbox"] {
  margin-right: 10px;
}

.form-group .checkbox-label {
  display: flex;
  align-items: center;
}

.btn-submit {
  display: inline-block;
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 16px;
}

.form-group input[type="checkbox"] {
  display: none;
}
.checkbox-label input.visually-hidden {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.checkbox-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #580031;
  border: 2px solid #580031;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 10px;
}
.custom-checkbox::after {
  content: "\2714";
  position: absolute;
  color: white;
  top: 0%;
  left: 15%;
  width: 10px;
  height: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.visually-hidden:checked + .custom-checkbox::after {
  opacity: 1;
}

.form-group input[type="checkbox"]:checked + .checkbox-label::before {
  background-color: #580031;
  border-color: #580031;
}

.form-group input[type="checkbox"]:checked + .checkbox-label::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translateX(-12px) translateY(4px) rotate(45deg);
}
